# 7주차 실습: 데이터 전처리 및 통계적 가설 검정

***

In [5]:
# 아래의 라이브러리를 사용하므로 미리 임포트해 두기 바랍니다.
import numpy as np
import numpy.random as random
import scipy as sp
import scipy.stats as stats
import pandas as pd
from pandas import Series, DataFrame

# 시각화 라이브러리
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
%matplotlib inline

# 소수점 3자리까지 표시
%precision 3

data = pd.read_csv('health2018.csv')
data

              ID sex  age  height  weight  waist        BMI  Blood_glucose
0     A901020501   M   80   162.4    56.0   82.2  21.233226            103
1     A901021301   M   78   167.7    76.4   98.3  27.166096            127
2     A901021302   F   75   157.7    53.2   80.7  21.391845            134
3     A901022601   F   43   151.0    53.5   79.7  23.463883             99
4     A901023303   F   80   146.1    57.6   93.0  26.984977            111
...          ...  ..  ...     ...     ...    ...        ...            ...
5963  R904028502   F   35   159.8    55.6   70.1  21.773149             90
5964  R904028503   F   66   156.9    63.9   87.3  25.957028             93
5965  R904028902   F   73   145.2    51.8   77.2  24.569512             99
5966  R904029201   M   43   176.8    84.1   99.2  26.904906            108
5967  R904029202   F   39   163.1    59.5   81.2  22.367067             94

[5968 rows x 8 columns]

## 1. 판다스를 이용한 데이터 조작
### 1-1. 구간화(pd.cut)를 이용해 다음 체중 분류를 obesity 열로 추가하시오.
BMI 18.5 미만 : "저체중"

BMI 18.5 이상 25 미만 : "정상"

BMI 25 이상 30 미만: "비만"

obesity 열을 추가한 후 data.head(30)으로 처음 30개 데이터를 체크하시오.

In [12]:
BMI_cut = [0, 18.5, 25, 100]
BMI_names = ['저체중', '정상', '비만']
data['obesity'] = pd.cut(data.BMI, BMI_cut, labels = BMI_names)
data.head(30)

,ID,sex,age,height,weight,waist,BMI,Blood_glucose,obesity
0,A901020501,M,80,162.4,56.0,82.2,21.233226,103,정상
1,A901021301,M,78,167.7,76.4,98.3,27.166096,127,비만
2,A901021302,F,75,157.7,53.2,80.7,21.391845,134,정상
3,A901022601,F,43,151.0,53.5,79.7,23.463883,99,정상
4,A901023303,F,80,146.1,57.6,93.0,26.984977,111,비만
5,A901023304,F,71,157.2,53.2,78.4,21.528142,51,정상
6,A901023501,M,44,180.0,85.6,96.1,26.419753,163,비만
7,A901023502,F,42,168.8,54.2,70.3,19.021922,83,정상
8,A901023901,M,36,172.6,69.0,84.2,23.161544,86,정상
9,A901023902,F,30,153.9,54.7,78.8,23.094581,104,정상
10,A901024801,M,57,177.1,94.1,107.0,30.002159,99,비만
11,A901024802,F,54,170.8,63.4,74.4,21.732692,95,정상
12,A901024803,M,27,188.4,126.7,106.9,35.695611,90,비만
13,A901024804,M,26,177.9,85.5,90.5,27.015575,96,비만
14,A901026501,M,68,159.9,62.4,90.8,24.405497,92,정상
15,A901026502,F,58,155.1,52.2,77.4,21.699359,91,정상
16,A901027401,F,58,154.8,56.2,72.4,23.452784,97,정상
17,A901027601,M,43,181.5,78.0,86.2,23.677800,108,정상
18,A901027602,F,41,165.0,55.6,71.3,20.422406,90,정상
19,A901028101,F,31,160.9,51.3,67.2,19.815511,83,정상
20,A901028102,M,67,173.1,59.3,80.0,19.790673,98,정상
21,A901028103,M,34,180.3,92.0,97.9,28.300648,97,비만
22,A901028104,F,63,160.6,54.3,75.0,21.052746,97,정상
23,A901029001,F,46,170.5,53.5,73.7,18.403695,98,저체중
24,A901029003,F,70,152.4,54.1,81.7,23.293102,95,정상
25,A901029701,M,65,168.0,60.1,78.4,21.293934,103,정상
26,A901029702,F,60,153.8,60.0,84.7,25.365217,112,비만
27,A901029703,F,30,154.2,42.9,67.8,18.042161,86,저체중
28,A901030301,M,44,173.2,65.9,78.7,21.967955,89,정상
29,A901031101,M,80,171.6,70.6,89.3,23.975636,134,정상

### 1-2. 구간화(pd.cut)를 이용해 다음 연령 분류를 age_group 열로 추가하시오.
20세 이상 30세 미만: '20대'

30세 이상 40세 미만: '30대'

40세 이상 50세 미만: '40대'

50세 이상 60세 미만: '50대'

60세 이상 70세 미만: '60대'

70세 이상 80세 미만: '70대'

In [22]:
age_cut = [20, 30, 40, 50, 60, 70, 80]
age_names = ['20대', '30대', '40대', '50대', '60대', '70대']
data['age_group'] = pd.cut(data.age, age_cut, labels = age_names, right = False)
data

,ID,sex,age,height,weight,waist,BMI,Blood_glucose,obesity,age_group
0,A901020501,M,80,162.4,56.0,82.2,21.233226,103,정상,NaN
1,A901021301,M,78,167.7,76.4,98.3,27.166096,127,비만,70대
2,A901021302,F,75,157.7,53.2,80.7,21.391845,134,정상,70대
3,A901022601,F,43,151.0,53.5,79.7,23.463883,99,정상,40대
4,A901023303,F,80,146.1,57.6,93.0,26.984977,111,비만,NaN
...,...,...,...,...,...,...,...,...,...,...
5963,R904028502,F,35,159.8,55.6,70.1,21.773149,90,정상,30대
5964,R904028503,F,66,156.9,63.9,87.3,25.957028,93,비만,60대
5965,R904028902,F,73,145.2,51.8,77.2,24.569512,99,정상,70대
5966,R904029201,M,43,176.8,84.1,99.2,26.904906,108,비만,40대
5967,R904029202,F,39,163.1,59.5,81.2,22.367067,94,정상,30대

### 1-3. 매핑 기능을 활용해서 다음과 같이 age_group2 열을 생성하라.
20대, 30대 : 청년 

40대, 50대 : 중년 

60대, 70대 : 노년

In [45]:
age_map = {
    '20대': '청년',
    '30대': '청년',
    '40대': '중년',
    '50대': '중년',
    '60대': '노년',
    '70대': '노년'
}
data['age_group2'] = data['age_group'].map(age_map)
data

,ID,sex,age,height,weight,waist,BMI,Blood_glucose,obesity,age_group,age_group2
0,A901020501,M,80,162.4,56.0,82.2,21.233226,103,정상,NaN,NaN
1,A901021301,M,78,167.7,76.4,98.3,27.166096,127,비만,70대,노년
2,A901021302,F,75,157.7,53.2,80.7,21.391845,134,정상,70대,노년
3,A901022601,F,43,151.0,53.5,79.7,23.463883,99,정상,40대,중년
4,A901023303,F,80,146.1,57.6,93.0,26.984977,111,비만,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5963,R904028502,F,35,159.8,55.6,70.1,21.773149,90,정상,30대,청년
5964,R904028503,F,66,156.9,63.9,87.3,25.957028,93,비만,60대,노년
5965,R904028902,F,73,145.2,51.8,77.2,24.569512,99,정상,70대,노년
5966,R904029201,M,43,176.8,84.1,99.2,26.904906,108,비만,40대,중년
5967,R904029202,F,39,163.1,59.5,81.2,22.367067,94,정상,30대,청년

### 1-4. NaN을 포함한 행을 데이터에서 삭제하시오.
몇 개의 행(샘플)이 남는가?

In [46]:
data.dropna()

,ID,sex,age,height,weight,waist,BMI,Blood_glucose,obesity,age_group,age_group2
1,A901021301,M,78,167.7,76.4,98.3,27.166096,127,비만,70대,노년
2,A901021302,F,75,157.7,53.2,80.7,21.391845,134,정상,70대,노년
3,A901022601,F,43,151.0,53.5,79.7,23.463883,99,정상,40대,중년
5,A901023304,F,71,157.2,53.2,78.4,21.528142,51,정상,70대,노년
6,A901023501,M,44,180.0,85.6,96.1,26.419753,163,비만,40대,중년
...,...,...,...,...,...,...,...,...,...,...,...
5963,R904028502,F,35,159.8,55.6,70.1,21.773149,90,정상,30대,청년
5964,R904028503,F,66,156.9,63.9,87.3,25.957028,93,비만,60대,노년
5965,R904028902,F,73,145.2,51.8,77.2,24.569512,99,정상,70대,노년
5966,R904029201,M,43,176.8,84.1,99.2,26.904906,108,비만,40대,중년
5967,R904029202,F,39,163.1,59.5,81.2,22.367067,94,정상,30대,청년

## 2. 통계적 가설 검정
### 2-1. 20대 그룹에서 정상 체중과 비만 체중인 사람의 혈당값 평균을 구하고, 통계적으로 유의한 차이(p < 0.05)가 나는지 검정하시오.

In [53]:
data20 = data[(data.age_group == '20대')]
print(data20.groupby('obesity').Blood_glucose.mean())
[t_stat, p] = stats.ttest_ind(data20[data20.obesity == '정상'].Blood_glucose, data20[data20.obesity == '비만'].Blood_glucose)
[t_stat, p]

obesity
저체중    87.379310
정상     88.768889
비만     93.325581
Name: Blood_glucose, dtype: float64

[-6.2149021809371, 9.428992815877608e-10]

### 2-2. 20대 남성에서 정상 체중과 비만 체중인 사람간에 키 차이가 통계적으로 유의한지 검정해보시오.

In [57]:
data20M = data[(data.age_group == '20대') & (data.sex == 'M')]
print(data20M.groupby('obesity').height.mean())
[t_stat, p] = stats.ttest_ind(data20M[data20M.obesity == '정상'].height, data20M[data20M.obesity == '비만'].height)
[t_stat, p]

obesity
저체중    176.150000
정상     175.259794
비만     175.266379
Name: height, dtype: float64

[-0.009436227690719988, 0.9924772003449175]

### 2-3. 청년(20~30대) 그룹에서 성별로 저체중/정상/비만 체중 분포를 교차표로 구하시오.

In [58]:
pd.crosstab(data[data.age_group2 == '청년'].sex, data[data.age_group2 == '청년'].obesity)

obesity  저체중   정상   비만
sex
F         89  584  162
M         20  385  323

### 2-4. 카이 제곱 검정을 이용해 위 저체중/정상/비만 체중 빈도가 남성 vs. 여성 간에 차이 나는지 검정하시오. (p값 계산)

In [59]:
stats.chi2_contingency(pd.crosstab(data[data.age_group2 == '청년'].sex, data[data.age_group2 == '청년'].obesity))

(131.282405347318,
 3.107333687214781e-29,
 2,
 array([[ 58.231, 517.668, 259.101],
        [ 50.769, 451.332, 225.899]]))